
@{
    ViewBag.Title = "Packruler";
}

<p>I am Ethan Leisinger, aka Packruler. I have been constantly tinkering with electronics, software and hardware for most of my life. A little over a year ago I began my foray into Android development with an app called, Musical Daydream.</p>

<p>On the surface it may seem simple and boring. However, it took advantage of a few new API features Google released with KitKat (Android 4.4) that allowed more substantial 3rd party access to media metadata. It took advantage of this and another rarely used feature called Daydream to give users access to the songs they were listening to while the phone was charging in a screensaver esque environment. It was again updated when Google released Lollipop (Android 5) which allowed even more control over the metadata along with a clever API that allows colors from the album art, or poster, or similar image attached to the media. These colors can be used to as a background or to add color to various other aspects of the UI.</p>

<p>I also used Google API for accessing Google.com/Fonts to allow users to select any of the various fonts for the text displayed on the screen. I released this code onto GitHub.com for in case any other app developer would like more access to Google Fonts in their app.</p>

<p>As of right now I am finishing my Computer Science degree and working on another app that handles vehicle maintenance and other informations as well as trying to enhance my other projects. If you have any issues with my app(s) or any new ideas I am always happy to hear them and try to help in any way I can.</p>

<p>If you have any questions please feel free to email me at <a href="mailto:support@packruler.com">support@packruler.com</a></p>
