
@{
    ViewBag.Title = "Packruler";
}

<h2>Packruler</h2>

<div class="panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Welcome to Packruler.com</h3>
    </div>
    <div class="panel-body">
        I am a college student/developer/tinkerer if you have any questions please feel free to email me at <a href="mailto:support@packruler.com">support@packruler.com</a>
    </div>
</div>
