@{
    ViewBag.Title = "Portfolio";
}

<h2>Portfolio</h2>

<br />
<br />
<div class="panel panel-success" id="MusicalDaydream">
    <div class="panel-heading">
        <h4>Musical Daydream</h4>
    </div>

    <div class="panel-body">
        <p>
            Do you enjoy listening to music on your phone while its docked or charging but don't like having to wake it up to see what's playing or skip to the next song? Then this app will blow your mind.
            This is a daydream that displays beautiful album art and metadata from many music applications including initially designed for Google Play Music but works with Pandora, YouTube, and many more.
        </p>
        <p>
            Upon install please run the Musical Daydream Settings app to verify licensing and run through initial setup.
            I plan to update this app as much as I can and always love hearing new ideas and figuring out ways to improve. Please join our
                <a href="https://plus.google.com/communities/103689530453554898843" class="text-success">Google+ community</a>!
            for news on what I plan to do or if you have any issues or ideas for new features
            *Font options will be shown in default font until downloaded. Fonts are automatically downloaded when they are selected or can be mass downloaded.
        </p>
        <h4>Features:</h4>
        <ul class="list-group">
            <li class="list-group-item list-group-item-heading"><strong>The Material design overhaul:</strong></li>
            <li class="list-group-item">By default the background color is set to a dark color based on the album art</li>
            <li class="list-group-item">If the phone has been updated to Android 5.0 (Lollipop) the progress bar will be set to a light color based on the album art</li>
            <li class="list-group-item">The settings UI has also been tweaked to take advantage of the new Material design style</li>
            <li class="list-group-item">On-screen controls to skip to the next or previous song and play or pause</li>
            <li class="list-group-item">Full screen album art (can be made only the width of the screen as well)</li>
            <li class="list-group-item">Scrolling album art (when full screen)</li>
            <li class="list-group-item">Immersive display (hidden navbar and nav bar is translucent when brought back)</li>
            <li class="list-group-item">Ability to launch daydreaming from launcher. **NOTE** Samsung has tweaked their builds in a way such that this does not work.</li>
            <li class="list-group-item">Multiple UI preference controls including transparency and screen timeout while music is not playing and much more</li>
            <li class="list-group-item">Set font displayed in dream to any font available from Google.com/Fonts (450+ options)*</li>
            <li class="list-group-item">Battery status can be displayed on screen</li>
            <li class="list-group-item list-group-item-heading">Very customizable display with many option</li>
            <li class="list-group-item list-group-item-heading"><strong>Gesture controls:</strong></li>
            <li class="list-group-item">Swipe to the left to skip to the next</li>
            <li class="list-group-item">Swipe to the right to skip to the start or previous song</li>
            <li class="list-group-item list-group-item-heading">Swipe down to play or pause</li>
            <li class="list-group-item list-group-item-heading"><strong>Notification display:</strong></li>
            <li class="list-group-item">Active non constant notification icons will be displayed</li>
            <li class="list-group-item">Tap and hold on a icon to display the expanded notification</li>
            <li class="list-group-item">elease to make notification expanded display go away but leave notification active</li>
            <li class="list-group-item">Swipe up from icon to keep it displayed after release</li>
            <li class="list-group-item">Swipe down from icon clears the displayed notification from the screen if kept open or clears it from status bar completely</li>
            <li class="list-group-item">Applications can have their notifications blacklisted and they will not appear in the notification display in the dream</li>
        </ul>
    </div>
</div>
</p>

<p id="VehicleMaintenance">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h4>Vehicle maintenance -COMING SOON-</h2>
        </div>

        <div class="panel-body">
            *This app is still in development*
            <h4>Planned features:</h4>
            <ul class="list-group">
                <li class="list-group-item">Store user data in SQLite database locally</li>
                <li class="list-group-item">Calculate various vehicle statistics including cost of ownership, fuel efficency, and more</li>
                <li class="list-group-item">Remind user of required maintence tasks upcoming</li>
            </ul>
        </div>
    </div>
</p>